@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {font-family: roboto-bold;  src: url('./font/RobotoCondensed-Bold.ttf'); }
@font-face {font-family: roboto-light;  src: url('./font/RobotoCondensed-Light.ttf'); }
@font-face {font-family: roboto-medium;  src: url('./font/RobotoCondensed-Medium.ttf'); }
@font-face {font-family: roboto-regular;  src: url('./font/RobotoCondensed-Regular.ttf'); }

.bg-desktop {
    background-image: url('./img/bg-desktop.jpg');
    background-size: cover;
}

.btn-primary{
    padding: 8px 32px;
    background-color: #05AFF2;
    color: white;
    font-family: roboto-regular, serif;
    font-size: 1.75rem;
}